.bg-pink-ligth {
  background-color: rgb(241, 223, 232);
}
.img-cover {
  object-fit: cover;
}
.pt-6 {
  padding-top: 100px;
}
.mb-6 {
  margin-bottom: 150px;
}
.btn-pink {
  background-color:#f08db9;
}
.text-pink {
  color: #f08db9;
}
.text-pink-ligth {
  color: rgb(241, 223, 232);
}


.containermodule {
  max-width: 600px;
  margin: auto;
  background: #FDF4ED;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.progress-bar {
  background-color: #f9faf7;
  border-radius: 5px;
  overflow: hidden;
  height: 20px;
}

.progress{
  background-color: #f08db9;
}