.bg-pink-ligth {
    background-color: #f8c5dd;
    
}
.img-cover {
    object-fit: cover;
}
.pt-6 {
    padding-top: 10px;
}
.mb-6 {
    margin-bottom: 150px;
}
.btn-pink {
    background-color:#F08DB9;
}
.text-pink {
    color: #F08DB9;
}
.text-pink-ligth {
    color: #F08DB9;
}


footer {
    background-color: #f8c8d3;
    color: #333;
  }
  
  footer .social-icons i {
    font-size: 40px;
    transition: color 0.3s;
  }
  
  
  footer .btn-pink {
    background-color: #f08db9;
    color: #333;
  }
  
  footer .btn-pink:hover {
    background-color: #d15796;
    
  }
  
  footer h4 {
    font-size: 1.5rem;
    margin-bottom: 20px;
  }



.examen {
    max-width: 600px;
    margin: auto;
    background: #f8c8d3;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
    color: #333;
}

h2 {
    color: #555;
}

p {
    margin: 10px 0;
}

input[type="text"], input[type="radio"], input[type="checkbox"] {
    margin: 5px 0;
}

button {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #15a7eb;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #39649c;
}



  